.save-button {
    border-radius: 5px;
    background-color: #5cb85c;
    border-color: #5cb85c;
    margin-right: 1px;
}

.save-button:hover {
    border-radius: 5px;
    background-color: #408040;
    border-color: #408040;
    margin-right: 1px;
}

.delete-button {
    border-radius: 5px;
    background-color: #d9534f;
    border-color: #d9534f;
}
.delete-button:hover {
    border-radius: 5px;
    background-color: #973a37;
    border-color: #973a37;
}

.login-button {
    border-radius: 5px;
    background-color: #ADDEEE;
    border-color: #ADDEEE;

}


.login-button:hover {
    border-radius: 5px;
    background-color: #799ba6;
    border-color: #799ba6;

}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

tr:hover{
    background-color: #f5f5f5;
}