<div ng-controller="carController">

    <div class="card mb-3" ng-init="getAllCars()">
        <div class="card-header">
            Cars
        </div>

        <div class="ng-scope head  ml-3 mr-3 mt-3">
            <table>
                <thead>
                <tr>
                    <td style="width: 5%"><h5>Brand</h5></td>
                    <td style="width: 5%"><h5>Model</h5></td>
                    <td style="width: 5%"><h5>Car License Plate</h5></td>
                    <td style="width: 5%"> </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in vehicles track by $index">
                    <td><input type="text" id="brand-{{$index}}" value="{{car.brand}}"></td>
                    <td><input type="text" id="model-{{$index}}" value="{{car.model}}"></td>
                    <td><input type="text" id="license_plate-{{$index}}" value="{{car.license_plate}}"></td>
                    <td>
                        <button class="save-button" ng-click="updateCar($index)"><i class="fa fa-fw fa-save"></i></button>
                        <button class="delete-button" ng-click="deleteCar($index)"><i class="fa fa-fw fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" id="brand"></td>
                    <td><input type="text" id="car_model"></td>
                    <td><input type="text" id="car_license_plate"></td>
                    <td>
                        <button class="save-button" ng-click="addCar()"><i class="fa fa-fw fa-save"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Fine Cellphone section -->
        </div>
    </div>
</div>


