<div ng-controller="profileController" ng-init="getInfo()">

    <div class="card mb-3">
        <div class="card-header">
            User profile: {{name}}
        </div>

        <div class="ng-scope head  ml-3 mr-3 mt-3">
            <!-- Email section -->
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-4" style="text-align: right">
                    Email:
                </div>
                <div class="col-6">
                    {{email}}
                </div>
                <div class="col-2"></div>
            </div><hr>
            <!-- Fine Email section -->
            <!-- Password section -->
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-4" style="text-align: right">
                    Password corrente:
                </div>
                <div class="col-6">
                    <input type="password" id="psw-old" value="">
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-4" style="text-align: right">
                    Nuova password:
                </div>
                <div class="col-6">
                    <input type="password" id="psw-new" value="" ng-model="newPsw" ng-blur="checkPsw()" ng-minlength="3">
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-4" style="text-align: right">
                    Ripeti nuova password:
                </div>
                <div class="col-6">
                    <input type="password" id="psw-new-repeat" value="" ng-model="newPswRep" ng-blur="checkPsw()" ng-minlength="3"> <a style="color: #ff0000" ng-if="notMatching">Password non identiche</a>
                </div>

                <div class="col-2" style="float: right">
                    <button class="save-button" ng-click="savePassword()" ng-disabled="btnDisable"><i class="fa fa-fw fa-save"></i></button>
                </div>
            </div> <hr>
            <!-- Fine Password section -->
            <!-- Cellphone section -->
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">

            </div>
            <!-- Fine Cellphone section -->
        </div>
    </div>
</div>


