<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="Alberto Talone">
    <title>Data Analytics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">


    <!-- Plugin CSS -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/custom-style.css" rel="stylesheet">

    <!-- Stili aggiuntivi CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top" ng-app="myApp" ng-controller="indexController">

<!-- Navigation -->
<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse back">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Data Analytics</a>
    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="sidebar-nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/"><i class="fa fa-fw fa-home"></i> Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#!/stats"><i
                        class="fa fa-fw fa-area-chart"></i> Statistiche</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link" data-toggle="collapse"><i class="fas fa-wrench"></i> Impostazioni</a>
                <ul class="sidebar-second-level" id="collapseProfile">
                    <li>
                        <a href="#!/profile"><i class="fas fa-user"></i> Utente</a>
                    </li>
                    <li>
                        <a href="#!/car"><i class="fa fa-fw fa fa-car "></i> Veicoli</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button class="delete-button" ng-hide="sessionID == null" ng-click="logout()"><i class="fas fa-sign-out-alt"></i></button>
</nav>

<div class="content-wrapper py-3">
    <div class="container-fluid mt-5">
        <div ng-if="sessionID != undefined" ng-view></div>
        <!-- Div buttons sign in, sign up -->
        <div class="card mb-3" ng-if="sessionID == null">
            <div class="row" >
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center">
                    <button class="login-button" style="margin-top: 20px; width: 80%" ng-click="showLogin()"><i class="fas fa-sign-in-alt"></i> &nbsp;Sign in</button>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center">
                    <button class="login-button"  style="margin-top: 20px; width: 80%" ng-click="showSignUp()"><i class="fas fa-user-plus"></i> &nbsp;Sign up</button>
                </div>
                <div class="col-4"></div>
            </div>
            <br>
        </div>

        <!-- Div Sign in -->
        <div class="card mb-3" id="div_login" ng-show="login_hide">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Sign in </li>
            </ol>

            <div class="ng-scope head  ml-3 mr-3 mt-3">
                <!-- Email section -->
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-4" style="text-align: right">
                        Email:
                    </div>
                    <div class="col-6">
                        <input type="text" ng-model="email_signin" id="email">
                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- Fine Email section -->
                <!-- Password section -->
                <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="col-4" style="text-align: right">
                        Password:
                    </div>
                    <div class="col-6">
                        <input type="password" ng-model="psw_signin" id="psw">
                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- Fine Password section -->
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-6" >
                        <button class="login-button" ng-click="login()"><i class="fas fa-sign-in-alt"></i>&nbsp; Login</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

        <!-- Div Sign up -->
        <div class="card mb-3" id="div_signup" ng-show="signup_hide">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Sign up </li>
            </ol>

            <div class="ng-scope head  ml-3 mr-3 mt-3">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-4" style="text-align: right">
                        Nome:
                    </div>
                    <div class="col-6">
                        <input type="text" ng-model="name_signup" id="name">
                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- Email section -->
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-4" style="text-align: right">
                        Email:
                    </div>
                    <div class="col-6">
                        <input type="text" ng-model="email_signup" id="email_signup">
                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- Fine Email section -->
                <!-- Password section -->
                <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="col-4" style="text-align: right">
                        Password:
                    </div>
                    <div class="col-6">
                        <input type="password" ng-model="psw_signup" id="psw_signup">
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="col-4" style="text-align: right">
                        Ripeti la password:
                    </div>
                    <div class="col-6">
                        <input type="password" ng-model="repeat_psw_signup" id="repeat_psw_signup">
                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- Fine Password section -->
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-6" >
                        <button class="login-button" ng-click="signUp()">
                            <i class="fas fa-user-plus"></i> &nbsp; Sign up</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/tether/tether.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this template -->
<script src="js/sb-admin.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>

<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

<!-- Test charts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script src="dist/angular-sanitize.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/navigation.js"></script>

<script src="js/service/serviceToBackend.js"></script>
<script src="js/service/configService.js"></script>
<script src="config.js"></script>

<script src="js/controllers/_Controller.js"></script>
<script src="js/controllers/DashController.js"></script>
<script src="js/controllers/StatsController.js"></script>
<script src="js/controllers/ProfileController.js"></script>
<script src="js/controllers/CarController.js"></script>

<script src="config.js"></script>
<script src="js/service/configService.js"></script>

<script src="dist/select.js"></script>

</body>
</html>