<div ng-controller="dashController">
    <ol class="breadcrumb" ng-init="getAllCars()">
        <li class="breadcrumb-item active">Veicolo: </li>
        <select id="select_vehicles" ng-model="cars" ng-options="v.label for v in vehicles track by v.value" ng-change="reloadStatDash()">
        </select>
        nel periodo:
        <select id="select_period" ng-model="period" ng-change="reloadStatDash()">
            <option value="day" selected>Ultimo giorno</option>
            <option value="week">Ultima settimana</option>
            <option value="month">Ultimo mese</option>
        </select>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <!-- Card consumo medio settimanale -->
            <div class="card card-inverse card-warning o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fas fa-fw fa-plug"></i>
                    </div>
                    <div class="mr-5">
                        <h3>Consumo medio</h3>
                    </div>
                </div>
                <div class="card-footer clearfix small z-1">
                    <h4>{{avgConsumo}} Km/h</h4>
                </div>
            </div>
            <!-- Fine Card consumo -->
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <!-- Card velocità media -->
            <div class="card card-inverse card-warning o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                    </div>
                    <div class="mr-5">
                        <h3>Velocità media</h3>
                    </div>
                </div>
                <div class="card-footer clearfix small z-1">
                    <h4>{{avgSpeedDash}} Km/h</h4>
                </div>
            </div>
            <!-- Fine Card velocità media -->
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Ultimi log disponibili:
        </div>

        <div class="card ng-scope head card3 ml-3 mr-3 mt-3" ng-repeat="report in lastReports">
            <div class="row">
                <div class="col-md-2">
                    <div style="width: 100%" class=" card ng-scope head card5">{{report.date}}
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="width: 100%" class=" card ng-scope head card5">{{report.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="card ng-scope head card5 m-3" ng-if="lastReports.length==0">Non ci sono messaggi </div>
    <toaster-container></toaster-container>
</div>
</div>