<div ng-controller="speedController" ng-init="getAllCars()">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"> </i>  Veicolo:
            <select id="select_vehicles" ng-model="cars" ng-options="v.label for v in vehicles track by v.value" ng-change="reloadStat()">
            </select>
            nel periodo:
            <select id="select_period" ng-model="period" ng-change="reloadStat()">
                <option value="day" selected>Ultimo giorno</option>
                <option value="week">Ultima settimana</option>
                <option value="month">Ultimo mese</option>
            </select>
        </div>


        <div class="ng-scope head  ml-3 mr-3 mt-3">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <!-- Card velocità minima -->
                        <div class="card card-inverse card-success o-hidden h-100" style="width: 100%">
                            <div class="card-block">
                                <div class="card-block-icon">
                                    <i class="fa fa-fw fa-check"></i>
                                </div>
                                <div class="mr-5">
                                    <h3>Velocità <br>minima</h3>
                                </div>
                            </div>
                            <div class="card-footer clearfix small z-1">
                                <h4>{{minSpeed}} Km/h</h4><br><h6> {{minTime}}</h6>
                            </div>
                        </div>
                        <!-- Fine Card velocità minima --></div>

                    <div class="row" style="margin-top: 20px">
                        <!-- Card velocità massima -->
                        <div class="card card-inverse card-danger o-hidden h-100" style="width: 100%">
                            <div class="card-block">
                                <div class="card-block-icon">
                                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                                </div>
                                <div class="mr-5">
                                    <h3>Velocità <br>massima</h3>
                                </div>
                            </div>
                            <div class="card-footer clearfix small z-1">
                                <h4>{{maxSpeed}} Km/h</h4><br><h6> {{maxTime}}</h6>
                            </div>
                        </div>
                        <!-- Fine Card velocità massima -->
                    </div>
                </div>
                <div class="col-9" id="container_speed" style="min-height: 400px;"></div>
            </div>
        </div>

        <hr>

        <div class="ng-scope head  ml-3 mr-3 mt-3">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <!-- Card velocità minima -->
                        <div class="card card-inverse card-success o-hidden h-100" style="width: 100%">
                            <div class="card-block">
                                <div class="card-block-icon">
                                    <i class="fa fa-fw fa-check"></i>
                                </div>
                                <div class="mr-5">
                                    <h3>Consumo <br>minimo</h3>
                                </div>
                            </div>
                            <div class="card-footer clearfix small z-1">
                                <h4>{{minConsumption}} Km/l</h4><br><h6> {{minTimeConsumption}}</h6>
                            </div>
                        </div>
                        <!-- Fine Card velocità minima --></div>

                    <div class="row" style="margin-top: 20px">
                        <!-- Card velocità massima -->
                        <div class="card card-inverse card-danger o-hidden h-100" style="width: 100%">
                            <div class="card-block">
                                <div class="card-block-icon">
                                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                                </div>
                                <div class="mr-5">
                                    <h3>Consumo <br>massimo</h3>
                                </div>
                            </div>
                            <div class="card-footer clearfix small z-1">
                                <h4>{{maxConsumption}} Km/l</h4><br><h6> {{maxTimeConsumption}}</h6>
                            </div>
                        </div>
                        <!-- Fine Card velocità massima -->
                    </div>
                </div>
                <div class="col-9" id="container_consumption" style="min-height: 400px;"></div>
            </div>
        </div>
    </div>
</div>